<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Fluglehorn Softworks Inc.</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto">
        <li class="nav-item <%= active_class(employees_path) %>">
          <%= link_to 'Employees', employees_path, class: 'nav-link' %>
        </li>
        <li class="nav-item <%= active_class(projects_path) %>">
          <%= link_to 'Projects', projects_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </div>
</nav>
